<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @notification.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @notification.content %>
</p>

<p>
  <strong>Day:</strong>
  <%= @notification.day %>
</p>

<p>
  <strong>Importance:</strong>
  <%= @notification.importance %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @notification.tag %>
</p>


<%= link_to 'Back', notifications_path %>
